/* portada.css */
.portada-container {
    background-color: #ffffff; /* Gris claro */
    padding: 20px;
  }
  
  .portada-container img {
    border-radius: 10px; /* Redondear las imágenes */
  }
  